<div class="container">
  <!--  <form>
      <mat-form-field>
        <mat-label>Формула</mat-label>
        <input matInput type="text" [formControl]="formulaControl" (keydown)="onKeyDown($event)" (input)="onInput($event)">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected()">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </form>-->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Formula</mat-label>
    <input type="text"
           id="formulaInput"
           matInput
           [formControl]="formula"
           [matAutocomplete]="auto"
           (keydown)="onKeyDown($event)"
           (input)="onInput($event)"
           [(ngModel)]="enteredValue"
    >
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" > <!--(optionSelected)="onOptionSelected($event)"-->
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>


<p>
  {{enteredValue}}
</p>

