:host {
  width: 50%;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 200px;
    width: 100%;
    .formula-output {
      margin-bottom: 10px;
      font-size: 16px;
      p {
        word-wrap: break-word;
        height: 1.5rem;
      }
    }

    mat-form-field {
      width: 100%;
    }
  }


}
