<div class="container">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Введите форму</mat-label>

    <input type="text"
           id="formulaInput"
           matInput
           [formControl]="formula"
           [matAutocomplete]="auto"
           (keydown)="onKeyDown($event)"
           (input)="onInput($event)"
           placeholder="Введите выражение"
           [matAutocompletePosition]="'auto'"
    >

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

  <span>Формула:</span>
  <div class="formula-output">
    <p>
      {{text}}
    </p>
  </div>

</div>



